.newsSlider{
    @include adaptiv-marginBottom(50,35);
    position: relative;
    &__item{
        display: block;
        transition: all .3s;
        &:hover{
            opacity: .6;
            img{
                transform: scale(1.1);
            }
        }

        &-img{
            margin-bottom: 12px;
            height: 20em;
            border-radius: 5px;
            overflow: hidden;
            img{
                transition: all .5s;
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
        &-title{
            @include adaptiv-font(25,18);
            color: #1D1D1D;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 4; // количество строк
            -webkit-box-orient: vertical;
            overflow: hidden;
            
        }
        &-date{
            @include adaptiv-font(16,14);
            color: rgba(29, 29, 29, 0.5);
            margin-bottom: 12px;
            display: block;
        }
        &-text{
            @include adaptiv-font(18,15);
            color: #1D1D1D;
            display: -webkit-box;
            -webkit-line-clamp: 7; // количество строк
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .owl{
        &-dots{
            display: none;
        }
        &-nav{
            position: absolute;
            right: 0;
            top: -50px;
            button{
                width: 30px;
                span{
                    color: transparent;
                }
                &:first-child{
                    margin-right: 12px;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: url(/images/icons/prev.svg);
                        left: 0;
                    }
                }
                &:last-child{
                    position: relative;
                    &:after{
                        position: absolute;
                        content: url(/images/icons/next.svg);
                        left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .newsSlider{
        &__item{
            &-img{
                height: 15em;
            }
        }
    }
}

@media (max-width: 500px) {
    .newsSlider{
        .owl{
            &-nav{
                display: none;
            }
        }
    }
}