.is18 {
  background: linear-gradient(
    100.06deg,
    #62aef3 -13.69%,
    #254cb1 44.49%,
    #414dbc 100.39%
  );
  color: #ffffff;
  height: 100vh;

  &__dots {
    &-first {
      position: absolute;
      top: 138px;
      left: -58px;
    }
    &-second {
      position: absolute;
      top: 0;
      right: -78px;
    }
    &-third {
      position: absolute;
      bottom: 20%;
      left: 10%;
    }
    &-fourth {
      position: absolute;
      bottom: 0;
      right: 20%;
    }
  }

  &__not {
    display: none;
    z-index: 10;
    position: absolute;
    bottom: 209px;
    right: 480px;
    &-text {
      display: none;
      z-index: 10;
      position: absolute;
      bottom: 430px;
      right: 225px;
    }
  }

  &__overlay {
    display: none;
  }

  &__info {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 50px;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    @include adaptiv-font(40, 25);
    margin-bottom: 30px;
  }

  &__age {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      text-align: center;
      margin-bottom: 12px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      @include adaptiv-font(20, 15);
    }

    &-btns {
      margin-top: 15px;
      margin-bottom: 30px;
    }

    &-btn {
      &:first-child {
        margin-right: 15px;
      }
    }
  }

  &__addition {
    width: 70%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    @include adaptiv-font(18, 13);
  }
}
.show {
  display: block;
  animation: not18Age 1s linear forwards;
}

@keyframes not18Age {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1700px) {
  .is18 {
    &__not {
      right: 330px;
      &-text {
        right: 100px;
      }
    }
  }
}

@media (max-width: 1420px) {
  .is18 {
    &__not {
      right: 230px;
      bottom: 100px;
      &-text {
        right: 0px;
        bottom: 330px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .is18 {
    &__not {
      bottom: 0;
      top: 200px;
      left: 0px;
      right: 250px;
      margin: auto;
      &-text {
        bottom: 200px;
        top: 0;
        left: 100px;
        margin: auto;
      }
    }
    &__overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #f1f1f4;
      opacity: 0.4;
    }
  }
}

@media (max-width: 1000px) {
  .is18 {
    &__info {
      width: 95%;
    }
    &__logo {
      width: 70%;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 850px) {
  .is18 {
    &__dots-third {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .is18 {
    &__dots-first {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .is18 {
    &__age {
      &-btns {
        display: flex;
        flex-direction: column;
      }
      &-btn {
        width: 100%;
        &:first-child {
          margin-bottom: 12px;
        }
      }
    }
  }
}
