.banner {
  position: relative;
  .media {
    position: absolute;
    background: linear-gradient(
      100.06deg,
      rgba(98, 174, 243, 0.4) -13.69%,
      rgba(37, 76, 177, 0.4) 44.49%,
      rgba(65, 77, 188, 0.4) 100.39%
    );
    backdrop-filter: blur(27px);
    border-radius: 10px;
    padding: 16px 12px;
    display: flex;
    bottom: 109px;
    left: 15%;
  }
}

.bannerSlider {
  position: relative;
  .owl-stage {
    display: flex;
    height: 100%;
  }
  .owl-stage-outer {
    height: 100%;
  }

  .owl-nav {
    width: 190px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 15%;
    background: linear-gradient(
      100.06deg,
      #62aef3 -13.69%,
      #254cb1 44.49%,
      #414dbc 100.39%
    );
    border-radius: 10px;

    button {
      color: #ffffff;
      width: 50%;
      height: 100%;
      &:first-child {
        border-right: 1px solid #ffffff;
      }
    }
  }

  .owl-dots {
    display: none;
  }

  .owl-dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid #ff851d;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .owl-dot.active {
    width: 12px;
    height: 12px;
    background-color: #ff851d;
  }

  &__item {
    position: relative;
    &-info {
      position: absolute;
      background-image: url("/images/back-lg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -250px;
      padding-bottom: 200px;
      margin-top: -5px;
      top: 0;
      width: 100%;
    }

    &-title {
      width: 70%;
      font-style: normal;
      font-weight: 600;
      @include adaptiv-font(40, 25);
      color: #ffffff;
      margin-bottom: 15px;
      line-height: 49px;
    }

    &-text {
      width: 60%;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 500;
      @include adaptiv-font(18, 13);
      line-height: 150%;
      color: #ffffff;
    }

    &-link {
      font-style: normal;
      font-weight: 700;
      @include adaptiv-font(18, 13);
      color: #ffffff;
      display: flex;
      align-items: center;

      &--img {
        margin-left: 10px;
      }

      &:hover {
        transition: all 0.3s;
        opacity: 0.5;
      }
    }

    &-img {
      width: 100vw;
      height: 80vh;
      object-fit: cover;
      vertical-align: bottom;
      overflow: hidden;
    }
  }
}

.animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-animated-in {
  z-index: 0;
}
.owl-animated-out {
  z-index: 1;
}
.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 1750px) {
  .bannerSlider {
    &__item {
      &-info {
        background-position-y: -200px;
      }
      &-title,
      &-text {
        width: 75%;
      }
    }
  }
}

@media (max-width: 1600px) {
  .bannerSlider {
    &__item {
      &-title,
      &-text,
      &-link {
        @include adaptiv_marginLeft(150, 0);
        width: 60%;
      }
    }
  }
}

@media (max-width: 1520px) {
  .bannerSlider {
    &__item {
      &-info {
        background-position-y: -150px;
      }
      &-title,
      &-text {
        width: 70%;
      }
    }
  }
}

@media (max-width: 1090px) {
  .bannerSlider {
    &__item {
      &-text {
        width: 80%;
      }
      &-title {
        width: 80%;
        padding-top: 10px;
        line-height: 40px;
      }
    }
  }
}

@media (max-width: 900px) {
  .bannerSlider {
    &__item {
      &-title,
      &-text {
        width: 90%;
      }
    }
  }
}

@media (max-width: 770px) {
  .bannerSlider {
    &__item {
      &-title,
      &-text {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .box {
    height: 62vh;
  }
  .banner {
    .media {
      display: none;
    }
  }

  .bannerSlider {
    .owl {
      &-nav {
        display: none;
      }

      &-dots {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__item {
      &-img {
        margin-top: 190px;
        height: 33vh;
      }
      &-info {
        margin-top: -200px;
        vertical-align: bottom;
      }
      &-title {
        line-height: 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  .bannerSlider {
    &__item {
      &-title {
        line-height: 30px;
      }
      &-info {
        background-position-y: -130px;
      }
    }
  }
}
