.definition {
  @include adaptiv-marginBottom(100, 50);
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-weight: 400;
    @include adaptiv-font(18, 15);
    line-height: 150%;
    color: #1d1d1d;
    width: 50%;
  }

  &__select {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-text {
      font-weight: 600;
      line-height: 22px;
      color: #1d1d1d;
      @include adaptiv-font(18, 15);
      margin-bottom: 8px;
    }
    &-item {
      width: 60%;
    }
  }

  &__check {
    width: 100%;
    align-items: center;
    padding: 13px 15px;
    margin-bottom: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/images/icons/drop-grey.svg") no-repeat right center;
    outline: 0;
    opacity: 0.5;
  }
}

@media (max-width: 1200px) {
  .definition {
    &__select {
      &-item {
        width: 90%;
      }
    }
  }
}

@media (max-width: 650px) {
  .definition {
    &__container {
      flex-direction: column;
    }
    &__text {
      width: 100%;
      margin-bottom: 25px;
    }
    &__select {
      width: 100%;
      &-item {
        width: 100%;
      }
    }
  }
}
