html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051b1f;
  font-family: "Montserrat", sans-serif;
}

.box {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-bottom: calc(
    105px + 100 *
      ((100vw - 320px) / 1600)
  );
}

.mainPage .main {
  padding-top: calc(
    50px + 80 *
      ((100vw - 320px) / 1600)
  );
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 67%;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1600));
}

.btn {
  white-space: nowrap;
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  border-radius: 10px;
  padding: 15px 35px;
  color: #ffffff;
  border: 1px solid #ff851d;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-active {
  background-color: #ff851d;
}
.btn:hover {
  background-color: #ff851d;
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .title {
    width: 100%;
    text-align: center;
  }
}
.header {
  background-image: url("/images/back.svg");
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.header__dots-left {
  position: absolute;
  left: 0;
  bottom: 100px;
}
.header__dots-right {
  position: absolute;
  right: 0;
  top: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}
.header__logo {
  width: 180px;
  margin-right: 10px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.header__menu-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__submenu {
  display: none;
  padding-bottom: 5px;
  padding-left: 15px;
}
.header__submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__submenu-sub {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
.header__up-sub {
  margin-top: -10px;
}
.header__down {
  display: none;
}
.header__down-sub {
  margin-top: -10px;
}
.header .active .header__up {
  display: none;
}
.header .active .header__down {
  display: block;
}
.header__text {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}
.header__text:not(:last-child) {
  margin-bottom: 12px;
}
.header__text:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.header__text-sub {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 10px;
}
.header__text-sub:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.header__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__btn:first-child {
  margin-right: 15px;
}
.header__nav {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 5px;
}
.header__search {
  margin-right: 18px;
  cursor: pointer;
}
.header__lung {
  cursor: pointer;
  margin-right: 18px;
}
.header__lung-ru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__lung-other {
  display: none;
}
.header__lung-text {
  padding-top: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header__lung-text:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.header__burger {
  cursor: pointer;
  padding-top: 17px;
  display: none;
}

.mainPage .box {
  overflow: hidden;
  position: relative;
}
.mainPage .box .header {
  background-image: url("/images/back-lg.svg");
  padding-bottom: 500px;
  z-index: 10;
}
.mainPage .box .header__dots-left {
  bottom: 400px;
}

@media (max-width: 1600px) {
  .header__dots-right {
    right: -45px;
  }
  .header__info {
    width: 350px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 120px;
  }
  .header__info {
    display: none;
  }
  .header__service {
    display: none;
  }
  .header__nav {
    padding-top: 0;
  }
  .header__lung {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
  }
  .header__dots-left, .header__dots-right {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header__dots-left {
    display: none;
  }
  .header__dots-right {
    display: none;
  }
}
@media (max-height: 1200px) {
  .mainPage .box .header {
    padding-bottom: 350px;
  }
  .mainPage .box .header__dots-left {
    bottom: 200px;
  }
}
.footer {
  background: #23459b;
  padding-top: calc(
    25px + 15 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: calc(
    20px + 40 *
      ((100vw - 320px) / 1600)
  );
}
.footer__container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(-0.09deg);
      -ms-transform: rotate(-0.09deg);
          transform: rotate(-0.09deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 180px;
  margin-right: 20px;
}
.footer__basic {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 15px;
}
.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.footer__text:not(:last-child) {
  padding-bottom: calc(
    12px + 3 *
      ((100vw - 320px) / 1600)
  );
}
.footer__text-hover:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-item:not(:last-child) {
  padding-right: 15px;
}
.footer__social-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__info-item:not(:last-child) {
  padding-bottom: 12px;
}
.footer__info-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.footer__bottom {
  position: relative;
}
.footer__cards {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  right: 0;
  top: 15px;
}
.footer__author {
  padding-top: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1100px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__basic {
    padding-top: 30px;
    width: 100%;
  }
  .footer__cards {
    position: static;
    padding-top: 25px;
  }
  .footer__author {
    padding-top: 15px;
  }
}
@media (max-width: 840px) {
  .footer__basic {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
  .footer__menu {
    padding-bottom: 30px;
  }
  .footer__social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (max-width: 660px) {
  .footer__basic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__social {
    padding-bottom: 30px;
  }
}
.sidebar {
  z-index: 13;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 417px;
  position: absolute;
  height: 100%;
  padding: 45px 25px;
  background: -o-linear-gradient(349.94deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  background: linear-gradient(100.06deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
}
.sidebar__close {
  position: absolute;
  right: 24px;
  top: 40px;
}
.sidebar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.sidebar__menu-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__submenu {
  display: none;
  padding-bottom: 5px;
  padding-left: 15px;
}
.sidebar__submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__submenu-sub {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}
.sidebar__up-sub {
  margin-top: -5px;
}
.sidebar__down {
  display: none;
}
.sidebar__down-sub {
  margin-top: -5px;
}
.sidebar .active .sidebar__up {
  display: none;
}
.sidebar .active .sidebar__down {
  display: block;
}
.sidebar__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}
.sidebar__text-down {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}
.sidebar__text:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.sidebar__text-sub {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 10px;
}
.sidebar__text-sub:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ff851d;
}
.sidebar__text-sub--down {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 10px;
}
.sidebar__social {
  padding-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__social-media {
  margin-right: 20px;
}
.sidebar__lung {
  cursor: pointer;
}
.sidebar__lung-ru {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar__lung-other {
  display: none;
}
.sidebar__lung-text {
  padding-top: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.sidebar__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__btn {
  border: 1px solid #ff851d;
  background: -o-linear-gradient(358.66deg, #ff851d 2.56%, #ffa456 109.6%);
  background: linear-gradient(91.34deg, #ff851d 2.56%, #ffa456 109.6%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-stage-outer {
  overflow-x: hidden;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}
.navigation__item {
  font-style: normal;
  font-weight: 400;
  font-size: calc(
    14px + 2 *
      ((100vw - 320px) / 1600)
  );
}
.navigation__item:not(:last-child) {
  margin-right: 20px;
  position: relative;
}
.navigation__item:not(:last-child):after {
  position: absolute;
  content: "/";
  right: -14px;
  color: #C7C7C7;
}
.navigation__item a {
  color: #C7C7C7;
}
.navigation__item--active a {
  color: #1D1D1D;
}

.is18 {
  background: -o-linear-gradient(349.94deg, #62AEF3 -13.69%, #254CB1 44.49%, #414DBC 100.39%);
  background: linear-gradient(100.06deg, #62AEF3 -13.69%, #254CB1 44.49%, #414DBC 100.39%);
  color: #FFFFFF;
}
.is18__info {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is18__logo {
  margin-bottom: 50px;
  width: 100%;
}
.is18__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: calc(
    25px + 15 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 30px;
}
.is18__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is18__age-title {
  text-align: center;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  font-size: calc(
    15px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.is18__age-btns {
  margin-bottom: 15px;
}
.is18__age-btn:first-child {
  margin-right: 15px;
}
.is18__addition {
  width: 70%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
}

@media (max-width: 1000px) {
  .is18__info {
    width: 95%;
  }
  .is18__logo {
    width: 70%;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .is18__age-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .is18__age-btn {
    width: 100%;
  }
  .is18__age-btn:first-child {
    margin-bottom: 12px;
  }
}
.bannerSlider {
  height: 100vh;
  top: 0;
  position: absolute;
}
.bannerSlider .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.bannerSlider .owl-stage-outer {
  height: 100%;
}
.bannerSlider .owl-nav {
  width: 190px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  bottom: 100px;
}
.bannerSlider .owl-nav button {
  width: 50%;
  background-color: #414DBC;
}
.bannerSlider__item-title {
  width: 60%;
  font-style: normal;
  font-weight: 600;
  font-size: calc(
    25px + 15 *
      ((100vw - 320px) / 1600)
  );
  color: #FFFFFF;
  margin-bottom: 15px;
  line-height: 49px;
}
.bannerSlider__item-text {
  width: 50%;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #FFFFFF;
}
.bannerSlider__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  color: #FFFFFF;
}
.bannerSlider__item-link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}
.bannerSlider__item-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-animated-in {
  z-index: 0;
}

.owl-animated-out {
  z-index: 1;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.areas {
  padding-bottom: calc(
    50px + 80 *
      ((100vw - 320px) / 1600)
  );
}
.areas__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: calc(15px + 25 * ((100vw - 320px) / 1600));
}
.areas__item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.areas__item:hover {
  opacity: 0.6;
}
.areas__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.areas__item-title {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  bottom: 40px;
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media (max-width: 750px) {
  .areas__item-title {
    line-height: 25px;
    bottom: 20px;
  }
}
@media (max-width: 600px) {
  .areas__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (200px)[4];
    grid-template-rows: repeat(4, 200px);
  }
}
.news {
  background-color: rgba(35, 187, 220, 0.05);
  padding-top: calc(
    20px + 20 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: calc(
    30px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.news__btn.btn-active {
  color: #FFFFFF !important;
}
.news__btn.btn-active:hover {
  border: 1px solid #FF851D !important;
  background-color: transparent !important;
  color: #FF851D !important;
}
.news__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
}

@media (max-width: 500px) {
  .news__btn {
    width: 100%;
  }
}
.newsSlider {
  margin-bottom: calc(35px + 15 * ((100vw - 320px) / 1600));
  position: relative;
}
.newsSlider__item {
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.newsSlider__item:hover {
  opacity: 0.6;
}
.newsSlider__item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.newsSlider__item-img {
  margin-bottom: 12px;
  height: 20em;
  border-radius: 5px;
  overflow: hidden;
}
.newsSlider__item-img img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.newsSlider__item-title {
  font-size: calc(
    18px + 7 *
      ((100vw - 320px) / 1600)
  );
  color: #1D1D1D;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.newsSlider__item-date {
  font-size: calc(
    14px + 2 *
      ((100vw - 320px) / 1600)
  );
  color: rgba(29, 29, 29, 0.5);
  margin-bottom: 12px;
  display: block;
}
.newsSlider__item-text {
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  color: #1D1D1D;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.newsSlider .owl-dots {
  display: none;
}
.newsSlider .owl-nav {
  position: absolute;
  right: 0;
  top: -50px;
}
.newsSlider .owl-nav button {
  width: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.newsSlider .owl-nav button span {
  color: transparent;
}
.newsSlider .owl-nav button:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.newsSlider .owl-nav button:first-child {
  margin-right: 12px;
  position: relative;
}
.newsSlider .owl-nav button:first-child:after {
  position: absolute;
  content: url(/images/icons/prev.svg);
  left: 0;
}
.newsSlider .owl-nav button:last-child {
  position: relative;
}
.newsSlider .owl-nav button:last-child:after {
  position: absolute;
  content: url(/images/icons/next.svg);
  left: 0;
}

@media (max-width: 700px) {
  .newsSlider__item-img {
    height: 15em;
  }
}
@media (max-width: 500px) {
  .newsSlider .owl-nav {
    display: none;
  }
}
.addresses {
  padding-top: calc(
    50px + 80 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: calc(
    50px + 80 *
      ((100vw - 320px) / 1600)
  );
}
.addresses__map {
  width: 800px;
  margin: auto;
  position: relative;
}
.addresses__map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.addresses__map-city {
  position: relative;
  fill: #EA3225;
  cursor: pointer;
}
.addresses__map-city:hover {
  stroke: #fff;
}
.addresses__map-img {
  width: 100%;
}
.addresses__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(29, 29, 29, 0.1);
          box-shadow: 0px 4px 30px rgba(29, 29, 29, 0.1);
  border-radius: 10px;
  width: 380px;
  padding: 25px;
}
.addresses__modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.addresses__modal-bg.active {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.addresses__modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
}
.addresses__modal-title_bold {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-bottom: 12px;
}
.addresses__modal-img {
  margin-bottom: 5px;
  width: 100%;
}
.addresses__modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.addresses__modal-map {
  color: #1D1D1D;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-bottom: 5px;
  display: block;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__item img {
  width: 100%;
}

@media (max-width: 1000px) {
  .partners__item {
    width: 12%;
  }
}
@media (max-width: 600px) {
  .partners__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 40px;
  }
  .partners__item {
    width: 100%;
  }
}
.administration {
  margin-bottom: calc(100px + 100 * ((100vw - 320px) / 1600));
}
.administration__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #1d1d1d;
}
.administration__container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.administration__employee {
  width: 50%;
  margin-right: calc(10px + 30 * ((100vw - 320px) / 1600));
}
.administration__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.administration__human:not(:last-child) {
  margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.administration__photo {
  margin-right: 20px;
  width: 30%;
}
.administration__name {
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.administration__post {
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 18px;
  color: rgba(29, 29, 29, 0.5);
  padding-bottom: calc(
    0px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.administration__mail {
  font-weight: 600;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-decoration-line: underline;
  color: #ff851d;
}
.administration__mail:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}
.administration__info {
  width: 50%;
}
.administration__document {
  margin-bottom: 25px;
}
.administration__list {
  margin-top: calc(10px + 6 * ((100vw - 320px) / 1600));
}
.administration__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.administration__list-item:not(:first-child) {
  margin-top: calc(10px + 8 * ((100vw - 320px) / 1600));
}
.administration__list-text {
  margin-left: 30px;
  display: list-item;
  list-style-type: disc;
  width: 70%;
  margin-right: 20px;
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.administration__list-text--last {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.administration__list-description {
  width: 100%;
  font-weight: 400;
  font-size: calc(
    15px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: rgba(29, 29, 29, 0.5);
  padding-top: calc(
    5px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.administration__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
.administration__download-text {
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-decoration-line: underline;
  color: #ffa456;
  padding-right: 5px;
}
.administration__download:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}
.administration__download--last {
  width: 100%;
}
.administration__report-text {
  padding-top: calc(
    10px + 5 *
      ((100vw - 320px) / 1600)
  );
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  padding-bottom: calc(
    10px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.administration__report-link {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #ff851d;
}
.administration__report-link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

@media (max-width: 1315px) {
  .administration__download {
    width: 40%;
  }
}
@media (max-width: 1085px) {
  .administration__download {
    width: 50.5%;
  }
}
@media (max-width: 950px) {
  .administration__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .administration__employee {
    width: 100%;
    margin-bottom: 25px;
  }
  .administration__photo {
    width: 110px;
  }
  .administration__info {
    width: 100%;
  }
  .administration__download {
    width: 40%;
  }
}
@media (max-width: 505px) {
  .administration__human {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .administration__list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .administration__list-text {
    width: 100%;
    margin-bottom: 5px;
  }
  .administration__download {
    width: 100%;
  }
}
.about {
  margin-bottom: 108px;
}
.about__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #000000;
  margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1600));
}
.about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__description {
  width: 50%;
  margin-right: calc(10px + 30 * ((100vw - 320px) / 1600));
}
.about__text {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.about__chapter {
  margin-top: calc(15px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(5px + 10 * ((100vw - 320px) / 1600));
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-transform: uppercase;
  color: #1d1d1d;
  width: 50%;
}
.about__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 10px auto 0 auto;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__list-first {
  width: 50%;
  margin-right: 40px;
  margin-left: 20px;
}
.about__list-second {
  width: 50%;
}
.about__list-item {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  list-style-type: disc;
  width: 95%;
}
.about__list-item:not(:last-child) {
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

@media (max-width: 950px) {
  .about__us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__description {
    width: 100%;
  }
  .about__chapter {
    width: 100%;
  }
  .about__img {
    width: 420px;
  }
}
@media (max-width: 700px) {
  .about {
    margin-bottom: 70px;
  }
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__list-first {
    width: 100%;
    margin-right: 0;
    margin-left: 20px;
  }
  .about__list-second {
    width: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 540px) {
  .about {
    margin-bottom: calc(25px + 83 * ((100vw - 320px) / 1600));
  }
}
.help {
  margin: auto;
  margin-bottom: calc(43px + 113 * ((100vw - 320px) / 1600));
  max-width: 840px;
  position: relative;
  padding: 30px 40px;
  background: -o-linear-gradient(349.94deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  background: linear-gradient(100.06deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  border-radius: 10px;
}
.help__man {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.help__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 10px;
}
.help__text {
  width: 70%;
  font-weight: 500;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 25px;
}
.help__button {
  border: 1px solid #ff851d;
  background-color: #ff851d;
  padding: 15px 68px;
}
.help__button:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}

@media (max-width: 700px) {
  .help__man {
    right: 0;
  }
  .help__button {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .help__man {
    display: none;
  }
  .help__text, .help__button {
    width: 100%;
  }
}
.modal {
  display: none;
}
.modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f1f1f4;
  opacity: 0.4;
  z-index: 12;
}
.modal__form {
  position: absolute;
  max-width: 991px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
  background: -o-linear-gradient(349.94deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  background: linear-gradient(100.06deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  border-radius: 10px;
  padding-top: 30px;
  padding-right: calc(
    16px + 14 *
      ((100vw - 320px) / 1600)
  );
  padding-left: calc(
    16px + 14 *
      ((100vw - 320px) / 1600)
  );
  padding-bottom: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 10px;
}
.modal__text {
  font-weight: 500;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding-bottom: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.modal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  padding-right: calc(
    0px + 35 *
      ((100vw - 320px) / 1600)
  );
}
.modal__price {
  width: 50%;
}
.modal__cost {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1600));
}
.modal__cost-item {
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #ff851d;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 15px 5px;
}
.modal__cost-item:hover {
  background-color: #ff851d;
}
.modal__cost-item .one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
.modal__cost-item .two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
.modal__cost-item .three {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}
.modal__cost-item .four {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.modal__cost-item .five {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}
.modal__cost-item .six {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}
.modal__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 10px;
}
.modal__sum {
  width: 50%;
  padding: 15px 5px;
  margin-right: 15px;
}
.modal__help {
  width: 50%;
  padding: 15px 5px;
}
.modal__help:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}
.modal__remark {
  font-weight: 400;
  font-size: calc(
    11px + 1 *
      ((100vw - 320px) / 1600)
  );
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding-bottom: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.modal__remark-link {
  color: #ff851d;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal__remark-link:hover {
  color: #ffffff;
}
.modal__collect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__collect-title {
  font-weight: 500;
  line-height: 22px;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}
.modal__collect-line {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #ff851d;
  background: transparent;
}
.modal__collect-line--full {
  width: 60%;
  height: 20px;
  background: -o-linear-gradient(358.66deg, #ff851d 2.56%, #ffa456 109.6%);
  background: linear-gradient(91.34deg, #ff851d 2.56%, #ffa456 109.6%);
  border-radius: 20px;
}

@media (max-width: 1211px) {
  .modal__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal__img {
    width: 295px;
    margin: 0 auto 15px auto;
  }
  .modal__price {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .modal__form {
    left: 20%;
    -webkit-transform: translate(-13%, -50%);
        -ms-transform: translate(-13%, -50%);
            transform: translate(-13%, -50%);
  }
}
@media (max-width: 500px) {
  .modal__form {
    left: 9%;
    -webkit-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
}
.vacancy {
  position: relative;
}
.vacancy__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #000000;
  margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1600));
}
.vacancy__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vacancy__text {
  width: 50%;
  margin-right: calc(5px + 35 * ((100vw - 320px) / 1600));
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.vacancy__check {
  width: 50%;
}
.vacancy__check-text {
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  max-width: 362px;
  margin-bottom: 10px;
}
.vacancy__select {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/images/icons/drop-down-black.svg") no-repeat right center;
  outline: 0;
}
.vacancy__overlay {
  display: none;
}
.vacancy__not {
  display: none;
  position: absolute;
  right: -70px;
  top: -20px;
}
.vacancy__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: calc(25px + 15 * ((100vw - 320px) / 1600));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.vacancy__container-lida {
  display: none;
}
.vacancy__container-gomel {
  display: none;
}
.vacancy__data {
  width: 50%;
  margin-right: calc(5px + 35 * ((100vw - 320px) / 1600));
}
.vacancy__inner {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.vacancy__vacancy {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  padding-bottom: calc(
    8px + 2 *
      ((100vw - 320px) / 1600)
  );
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
}
.vacancy__vacancy-up {
  display: none;
}
.vacancy .active {
  border-bottom: 1px solid #ffa456;
}
.vacancy .active .vacancy__vacancy-down {
  display: none;
}
.vacancy .active .vacancy__vacancy-up {
  display: block;
}
.vacancy__description {
  margin-bottom: 25px;
  display: none;
}
.vacancy__description-name {
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  padding-bottom: calc(
    5px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.vacancy__list {
  margin-bottom: 15px;
}
.vacancy__list-item {
  margin-left: 20px;
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  list-style-type: disc;
  width: 95%;
}
.vacancy__list-item:not(:last-child) {
  margin-bottom: 5px;
}
.vacancy__btn {
  margin-top: 10px;
}
.vacancy__btn:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
  color: #ff851d;
}
.vacancy__photo {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .vacancy__not {
    right: -20px;
    top: -35px;
  }
}
@media (max-width: 1300px) {
  .vacancy__check-text {
    max-width: 340px;
  }
}
@media (max-width: 960px) {
  .vacancy__not {
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .vacancy__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f1f1f4;
    opavacancy: 0.4;
  }
}
@media (max-width: 730px) {
  .vacancy__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vacancy__text {
    margin-right: 0;
    width: 100%;
    padding-bottom: 25px;
  }
  .vacancy__check {
    width: 100%;
  }
  .vacancy__check-text {
    max-width: 100%;
  }
  .vacancy__select {
    width: 100%;
  }
  .vacancy__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vacancy__data {
    width: 100%;
    margin-right: 0;
    margin-bottom: 45px;
  }
  .vacancy__photo {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .vacancy__not {
    width: 100%;
    left: 0%;
    top: 20%;
    -webkit-transform: translate(-5%, -60%);
        -ms-transform: translate(-5%, -60%);
            transform: translate(-5%, -60%);
  }
}
.definition {
  margin-bottom: calc(50px + 50 * ((100vw - 320px) / 1600));
}
.definition__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #1d1d1d;
  padding-bottom: 20px;
}
.definition__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.definition__text {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  width: 50%;
}
.definition__select {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.definition__select-text {
  font-weight: 600;
  line-height: 22px;
  color: #1d1d1d;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 8px;
}
.definition__select-item {
  width: 60%;
}
.definition__check {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 15px;
  margin-bottom: 15px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/images/icons/drop-grey.svg") no-repeat right center;
  outline: 0;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .definition__select-item {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .definition__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .definition__text {
    width: 100%;
    margin-bottom: 25px;
  }
  .definition__select {
    width: 100%;
  }
  .definition__select-item {
    width: 100%;
  }
}
.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.date__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.date__arrow {
  padding: 11px 15px 10px 13px;
}
.date__month {
  font-weight: 800;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #1d1d1d;
  padding: 0 30px;
}
.date__events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.date__event {
  width: 50%;
  margin-right: calc(5px + 120 * ((100vw - 320px) / 1600));
}
.date__event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(13px + 2 * ((100vw - 320px) / 1600));
}
.date__event-name {
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  margin-left: 15px;
}

.service__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #000000;
  margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1600));
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__info {
  width: 50%;
}
.service__info:first-child {
  margin-right: calc(0px + 40 * ((100vw - 320px) / 1600));
}
.service__text {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}
.service__subtitle {
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-transform: uppercase;
  color: #1d1d1d;
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  margin-top: calc(10px + 5 * ((100vw - 320px) / 1600));
}
.service__img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

@media (max-width: 700px) {
  .service__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service__info {
    width: 100%;
    margin-right: 0;
  }
  .service__img {
    margin-top: calc(10px + 5 * ((100vw - 320px) / 1600));
  }
}
.newsList__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.newsList__categories-btn {
  color: #C7C7C7;
  font-style: normal;
  font-weight: 400;
  font-size: calc(
    18px + 2 *
      ((100vw - 320px) / 1600)
  );
}
.newsList__categories-btn--active {
  color: #FF851D;
  font-weight: 700;
}
.newsList__categories-btn:not(:last-child) {
  margin-right: 15px;
}
.newsList__slider-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.newsList__slider .owl-nav {
  width: 260px;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsList__slider .owl-nav button {
  border-radius: 5px;
  border: 1px solid #FF851D;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent;
}
.newsList__slider .owl-nav button span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.newsList__slider .owl-nav button:hover {
  background-color: #FF851D;
}
.newsList__slider .owl-nav button:hover span {
  color: white;
}
.newsList__slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  margin: auto;
  margin-top: -35px;
}
.newsList__slider .owl-dots button:not(:last-child) {
  margin-right: 10px;
}
.newsList__slider .owl-dot {
  font-style: normal;
  font-size: 25px;
  font-weight: 300;
}
.newsList__slider .owl-dot.active {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .newsList__slider-item {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .newsList__title {
    margin-bottom: 20px;
  }
  .newsList__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .newsList__categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .newsList__categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .newsList__categories-btn:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .newsList__slider-item {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .newsList__slider .owl-nav {
    width: 100%;
  }
  .newsList__slider .owl-dots {
    width: 75%;
  }
}