html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051B1F;
  font-family: "Montserrat", sans-serif;
}

.box {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 67%;
  margin: 0 auto;
}

.btn {
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  border-radius: 10px;
  padding: 15px 35px;
  color: #FFFFFF;
  border: 1px solid #C2834C;
  background-color: transparent;
}
.btn:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #C2834C;
}

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
}
.header {
  background-image: url("/images/back.svg");
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.header__dots-left {
  position: absolute;
  left: 0;
  bottom: 100px;
}
.header__dots-right {
  position: absolute;
  right: 0;
  top: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__logo {
  width: 180px;
}
.header__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}
.header__text:not(:last-child) {
  margin-bottom: 12px;
}
.header__text:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}
.header__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__btn:first-child {
  margin-right: 15px;
}
.header__nav {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__search {
  margin-right: 18px;
  cursor: pointer;
}
.header__lung {
  cursor: pointer;
  margin-right: 18px;
}
.header__burger {
  cursor: pointer;
  padding-top: 17px;
  display: none;
}

.mainPage .box {
  overflow: hidden;
  position: relative;
}
.mainPage .box .header {
  background-image: url("/images/back-lg.svg");
  padding-bottom: 500px;
  z-index: 10;
}
.mainPage .box .header__dots-left {
  bottom: 400px;
}

@media (max-width: 1600px) {
  .header__dots-right {
    right: -45px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding-bottom: 120px;
  }
  .header__info {
    display: none;
  }
  .header__service {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
  }
  .header__dots-left, .header__dots-right {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header__dots-left {
    display: none;
  }
  .header__dots-right {
    display: none;
  }
}
.footer {
  background: #23459b;
  padding-top: 40px;
  padding-bottom: 60px;
}
.footer__container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(-0.09deg);
      -ms-transform: rotate(-0.09deg);
          transform: rotate(-0.09deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 180px;
  margin-right: 20px;
}
.footer__basic {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 15px;
}
.footer__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.footer__text:not(:last-child) {
  padding-bottom: 12px;
}
.footer__text-hover:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-item:not(:last-child) {
  padding-right: 15px;
}
.footer__social-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__info-item:not(:last-child) {
  padding-bottom: 12px;
}
.footer__info-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.footer__bottom {
  position: relative;
}
.footer__cards {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 15px;
}
.footer__author {
  padding-top: 36px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1100px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__basic {
    padding-top: 20px;
    width: 100%;
  }
  .footer__cards {
    position: static;
    padding-top: 15px;
  }
  .footer__author {
    padding-top: 15px;
  }
}
@media (max-width: 840px) {
  .footer__basic {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
  .footer__menu {
    padding-bottom: 30px;
  }
  .footer__social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-bottom: 30px;
  }
}
@media (max-width: 660px) {
  .footer__basic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.is18 {
  background: -o-linear-gradient(349.94deg, #62AEF3 -13.69%, #254CB1 44.49%, #414DBC 100.39%);
  background: linear-gradient(100.06deg, #62AEF3 -13.69%, #254CB1 44.49%, #414DBC 100.39%);
  color: #FFFFFF;
}
.is18__info {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is18__logo {
  margin-bottom: 50px;
  width: 100%;
}
.is18__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: calc(
    25px + 15 *
      ((100vw - 320px) / 1600)
  );
  margin-bottom: 30px;
}
.is18__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.is18__age-title {
  text-align: center;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  font-size: calc(
    15px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.is18__age-btns {
  margin-bottom: 15px;
}
.is18__age-btn:first-child {
  margin-right: 15px;
}
.is18__addition {
  width: 70%;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
}

@media (max-width: 1000px) {
  .is18__info {
    width: 95%;
  }
  .is18__logo {
    width: 70%;
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .is18__age-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .is18__age-btn {
    width: 100%;
  }
  .is18__age-btn:first-child {
    margin-bottom: 12px;
  }
}
.administration {
  margin-bottom: calc(50px + 150 * ((100vw - 320px) / 1600));
}
.administration__title {
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-transform: uppercase;
  color: #1d1d1d;
}
.administration__container {
  margin-top: calc(15px + 10 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.administration__employee {
  width: 50%;
  margin-right: calc(10px + 30 * ((100vw - 320px) / 1600));
}
.administration__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.administration__human:not(:last-child) {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
}
.administration__photo {
  margin-right: 20px;
  width: 30%;
}
.administration__name {
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.administration__post {
  font-weight: 400;
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: rgba(29, 29, 29, 0.5);
  padding-bottom: calc(
    0px + 10 *
      ((100vw - 320px) / 1600)
  );
}
.administration__mail {
  font-weight: 600;
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-decoration-line: underline;
  color: #ff851d;
}
.administration__mail:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}
.administration__info {
  width: 50%;
}
.administration__document {
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
}
.administration__list {
  margin-top: calc(10px + 6 * ((100vw - 320px) / 1600));
}
.administration__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.administration__list-item:not(:first-child) {
  margin-top: calc(10px + 8 * ((100vw - 320px) / 1600));
}
.administration__list-text {
  display: list-item;
  list-style-type: disc;
  width: 70%;
  margin-right: 20px;
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.administration__list-text--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.administration__list-description {
  width: 100%;
  font-weight: 400;
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: rgba(29, 29, 29, 0.5);
  padding-top: calc(
    5px + 5 *
      ((100vw - 320px) / 1600)
  );
}
.administration__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
.administration__download-text {
  font-weight: 600;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-decoration-line: underline;
  color: #ffa456;
  padding-right: 5px;
}
.administration__download:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.7;
}
.administration__download--last {
  display: none;
}
.administration__report-text {
  padding-top: calc(
    10px + 5 *
      ((100vw - 320px) / 1600)
  );
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.administration__report-link {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #ff851d;
}
.administration__report-link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

@media (max-width: 950px) {
  .administration__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .administration__employee {
    margin-bottom: 15px;
  }
  .administration__photo {
    width: 40%;
  }
  .administration__info {
    width: 100%;
  }
  .administration__download {
    width: 40%;
  }
}
@media (max-width: 505px) {
  .administration__human {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .administration__photo {
    width: 50%;
  }
  .administration__list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .administration__list-text {
    width: 100%;
  }
  .administration__download {
    width: 100%;
  }
}
.about {
  padding-top: 50px;
  margin-bottom: 108px;
}
.about__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
}
.about__breadcrumbs-main {
  font-weight: 400;
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 20px;
  color: #c7c7c7;
  padding-right: 5px;
}
.about__breadcrumbs-main:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #1d1d1d;
}
.about__breadcrumbs-now {
  font-weight: 400;
  font-size: calc(
    12px + 4 *
      ((100vw - 320px) / 1600)
  );
  line-height: 20px;
  color: #1d1d1d;
}
.about__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #000000;
  margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
}
.about__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__description {
  width: 50%;
  margin-right: calc(10px + 30 * ((100vw - 320px) / 1600));
}
.about__text {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
}
.about__chapter {
  margin-top: calc(15px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  font-weight: 700;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  text-transform: uppercase;
  color: #1d1d1d;
  width: 50%;
}
.about__img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.about__img-mob {
  display: none;
  margin: 10px auto 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__list-first {
  width: 50%;
  margin-right: 40px;
  margin-left: 20px;
}
.about__list-second {
  width: 50%;
}
.about__list-item {
  font-weight: 400;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #1d1d1d;
  list-style-type: disc;
}
.about__list-item:not(:last-child) {
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}

@media (max-width: 950px) {
  .about__us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__description {
    width: 100%;
  }
  .about__chapter {
    width: 100%;
  }
  .about__img {
    display: none;
  }
  .about__img-mob {
    display: block;
  }
}
@media (max-width: 700px) {
  .about {
    margin-bottom: 70px;
  }
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__list-first {
    width: 100%;
    margin-right: 0;
    margin-left: 20px;
  }
  .about__list-second {
    width: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 540px) {
  .about {
    margin-bottom: calc(25px + 83 * ((100vw - 320px) / 1600));
  }
}
.help {
  margin: auto;
  margin-bottom: calc(50px + 106 * ((100vw - 320px) / 1600));
  max-width: 840px;
  position: relative;
  padding: 30px 40px;
  background: -o-linear-gradient(349.94deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  background: linear-gradient(100.06deg, #62aef3 -13.69%, #254cb1 44.49%, #414dbc 100.39%);
  border-radius: 10px;
}
.help__man {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.help__title {
  font-weight: 700;
  font-size: calc(
    20px + 10 *
      ((100vw - 320px) / 1600)
  );
  line-height: 37px;
  color: #ffffff;
  padding-bottom: 10px;
}
.help__text {
  width: 70%;
  font-weight: 500;
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 25px;
}
.help__button {
  border: 1px solid #c2834c;
  background: -o-linear-gradient(358.66deg, #ff851d 2.56%, #ffa456 109.6%);
  background: linear-gradient(91.34deg, #ff851d 2.56%, #ffa456 109.6%);
  border-radius: 10px;
  padding: 15px 68px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.help__button:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}

@media (max-width: 700px) {
  .help__man {
    right: 0;
  }
}
@media (max-width: 540px) {
  .help__man {
    -webkit-transform: translate(0, -40%);
        -ms-transform: translate(0, -40%);
            transform: translate(0, -40%);
    width: 30%;
  }
}
@media (max-width: 400px) {
  .help__man {
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
}
.mainSlider {
  height: 100vh;
  top: 0;
  position: absolute;
}
.mainSlider .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.mainSlider .owl-stage-outer {
  height: 100%;
}
.mainSlider .owl-dots {
  width: 190px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
}
.mainSlider .owl-dots button {
  margin-right: 10px;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  background-color: #414DBC;
}
.mainSlider__item-title {
  width: 60%;
  font-style: normal;
  font-weight: 600;
  font-size: calc(
    25px + 15 *
      ((100vw - 320px) / 1600)
  );
  color: #FFFFFF;
  margin-bottom: 15px;
  line-height: 49px;
}
.mainSlider__item-text {
  width: 50%;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  line-height: 150%;
  color: #FFFFFF;
}
.mainSlider__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: calc(
    13px + 5 *
      ((100vw - 320px) / 1600)
  );
  color: #FFFFFF;
}
.mainSlider__item-link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}
.mainSlider__item-img {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-animated-in {
  z-index: 0;
}

.owl-animated-out {
  z-index: 1;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}