.help {
  margin: auto;
  @include adaptiv_marginBottom(156, 50);
  max-width: 840px;
  position: relative;
  padding: 30px 40px;
  background: linear-gradient(
    100.06deg,
    #62aef3 -13.69%,
    #254cb1 44.49%,
    #414dbc 100.39%
  );
  border-radius: 10px;

  &__man {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__title {
    font-weight: 700;
    @include adaptiv_font(30, 20);
    line-height: 37px;
    color: #ffffff;
    padding-bottom: 10px;
  }

  &__text {
    width: 70%;
    font-weight: 500;
    @include adaptiv_font(18, 15);
    line-height: 22px;
    color: #ffffff;
    padding-bottom: 25px;
  }

  &__btn.btn-active{
    color: #FFFFFF !important;
    background-color: #FF851D !important;
    &:hover{
        border: 1px solid #FF851D !important;
        background-color: transparent !important;
    }
  }

  
}

@media (max-width: 700px) {
  .help {
    &__man {
      right: 0;
    }
  }
}

@media (max-width: 540px) {
  .help {
    &__man {
      transform: translate(0, -40%);
      width: 30%;
    }
  }
}

@media (max-width: 400px) {
  .help {
    &__man {
      transform: translate(0, -20%);
    }
  }
}
