.date {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-marginBottom(40, 20);
  }

  &__arrow {
    padding: 11px 15px 10px 13px;
  }

  &__month {
    font-weight: 800;
    @include adaptiv-font(30, 20);
    line-height: 37px;
    color: #1d1d1d;
    padding: 0 30px;
  }

  &__days {
  }

  &__events {
    display: flex;
    justify-content: space-between;
  }

  &__event {
    width: 50%;
    @include adaptiv-marginRight(125, 5);

    &-item {
      display: flex;
      align-items: center;
      @include adaptiv-marginBottom(15, 13);
    }

    &-name {
      font-weight: 600;
      @include adaptiv-font(18, 15);
      line-height: 150%;
      color: #1d1d1d;
      margin-left: 15px;
    }
  }
}
