.about {
  margin-bottom: 108px;
  &__title {
    font-weight: 700;
    @include adaptiv_font(30, 20);
    line-height: 37px;
    color: #000000;
    @include adaptiv_marginBottom(25, 20);
  }

  &__us {
    display: flex;
  }

  &__description {
    width: 50%;
    @include adaptiv_marginRight(40, 10);
  }

  &__text {
    font-weight: 400;
    @include adaptiv_font(18, 15);
    line-height: 150%;
    color: #1d1d1d;
  }

  &__chapter {
    @include adaptiv_marginTop(25, 15);
    @include adaptiv_marginBottom(15, 5);
    font-weight: 700;
    @include adaptiv_font(18, 15);
    line-height: 150%;
    text-transform: uppercase;
    color: #1d1d1d;
    width: 50%;
  }

  &__img {
    width: 50%;
    object-fit: cover;
    overflow: hidden;
    margin: 10px auto 0 auto;
  }

  &__list {
    display: flex;
    &-first {
      width: 50%;
      margin-right: 40px;
      margin-left: 20px;
    }
    &-second {
      width: 50%;
    }
    &-item {
      font-weight: 400;
      @include adaptiv_font(18, 15);
      line-height: 150%;
      color: #1d1d1d;
      list-style-type: disc;
      width: 95%;
      &:not(:last-child) {
        @include adaptiv_marginBottom(10, 5);
      }
    }
  }
}

@media (max-width: 950px) {
  .about {
    &__us {
      flex-direction: column;
    }
    &__description {
      width: 100%;
    }
    &__chapter {
      width: 100%;
    }
    &__img {
      width: 420px;
    }
  }
}

@media (max-width: 700px) {
  .about {
    margin-bottom: 70px;
    &__list {
      flex-direction: column;
      &-first {
        width: 100%;
        margin-right: 0;
        margin-left: 20px;
      }
      &-second {
        width: 100%;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 540px) {
  .about {
    @include adaptiv_marginBottom(108, 25);
  }
}
