.administration {
  @include adaptiv_marginBottom(200, 100);
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #1d1d1d;
  }

  &__container {
    margin-top: 25px;
    display: flex;
  }

  &__employee {
    width: 50%;
    @include adaptiv_marginRight(40, 10);
  }

  &__human {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      @include adaptiv_marginBottom(30, 20);
    }
  }

  &__photo {
    margin-right: 20px;
    width: 30%;
  }

  &__name {
    font-weight: 700;
    @include adaptiv_font(18, 15);
    line-height: 150%;
    color: #1d1d1d;
  }

  &__post {
    font-weight: 400;
    @include adaptiv_font(16, 15);
    line-height: 18px;
    color: rgba(29, 29, 29, 0.5);
    @include adaptiv_paddingBottom(10, 0);
  }

  &__mail {
    font-weight: 600;
    @include adaptiv_font(16, 15);
    line-height: 150%;
    text-decoration-line: underline;
    color: #ff851d;
    &:hover {
      transition: all 0.3s;
      opacity: 0.7;
    }
  }

  &__info {
    width: 50%;
  }

  &__document {
    margin-bottom: 25px;
  }

  &__list {
    @include adaptiv_marginTop(16, 10);
    &-item {
      display: flex;
      align-items: start;
      &:not(:first-child) {
        @include adaptiv_marginTop(18, 10);
      }
    }
    &-text {
      margin-left: 30px;
      display: list-item;
      list-style-type: disc;
      width: 70%;
      margin-right: 20px;
      font-weight: 600;
      @include adaptiv_font(18, 15);
      line-height: 150%;
      color: #1d1d1d;
      &--last {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    &-description {
      width: 100%;
      font-weight: 400;
      @include adaptiv_font(16, 15);
      line-height: 150%;
      color: rgba(29, 29, 29, 0.5);
      @include adaptiv_paddingTop(10, 5);
    }
  }

  &__download {
    display: flex;
    align-items: center;
    width: 30%;
    &-text {
      font-weight: 600;
      @include adaptiv_font(18, 15);
      line-height: 150%;
      text-decoration-line: underline;
      color: #ffa456;
      padding-right: 5px;
    }
    &:hover {
      transition: all 0.3s;
      opacity: 0.7;
    }
    &--last {
      width: 100%;
    }
  }

  &__report {
    &-text {
      @include adaptiv_paddingTop(15, 10);
      font-weight: 400;
      @include adaptiv_font(18, 15);
      line-height: 150%;
      color: #1d1d1d;
      @include adaptiv_paddingBottom(15, 10);
    }
    &-link {
      font-weight: 400;
      @include adaptiv_font(18, 15);
      line-height: 150%;
      color: #ff851d;
      &:hover {
        transition: all 0.3s;
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 1315px) {
  .administration {
    &__download {
      width: 40%;
    }
  }
}

@media (max-width: 1085px) {
  .administration {
    &__download {
      width: 50.5%;
    }
  }
}

@media (max-width: 950px) {
  .administration {
    &__container {
      flex-direction: column;
    }
    &__employee {
      width: 100%;
      margin-bottom: 25px;
    }
    &__photo {
      width: 110px;
    }
    &__info {
      width: 100%;
    }
    &__download {
      width: 40%;
    }
  }
}

@media (max-width: 505px) {
  .administration {
    &__human {
      align-items: start;
    }
    &__list {
      &-item {
        flex-direction: column;
      }
      &-text {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    &__download {
      width: 100%;
    }
  }
}
