.footer {
  background: #23459b;
  @include adaptiv_paddingTop(40, 25);
  @include adaptiv_paddingBottom(60, 20);

  &__container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-0.09deg);
    display: flex;
    align-items: start;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  &__logo {
    width: 180px;
    margin-right: 20px;
  }

  &__basic {
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    flex-basis: 55%;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding-bottom: 15px;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    &:not(:last-child) {
      @include adaptiv_paddingBottom(15, 12);
    }
    &-hover {
      &:hover {
        transition: all 0.3s;
        color: #ff851d;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-media {
      display: flex;
    }
    &-item {
      &:not(:last-child) {
        padding-right: 15px;
      }
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    &-item {
      &:not(:last-child) {
        padding-bottom: 12px;
      }
    }
    &-link {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
    }
  }

  &__bottom {
    position: relative;
  }

  &__cards {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    right: 0;
    top: 15px;
  }

  &__author {
    padding-top: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 1100px) {
  .footer {
    padding-bottom: 30px;
    &__container {
      flex-direction: column;
    }

    &__basic {
      padding-top: 30px;
      width: 100%;
    }
    &__cards {
      position: static;
      padding-top: 25px;
    }
    &__author {
      padding-top: 15px;
    }
  }
}

@media (max-width: 840px) {
  .footer {
    &__basic {
      align-items: start;
    }
    &__data {
      flex-direction: column;
      flex-basis: content;
    }
    &__menu {
      padding-bottom: 30px;
    }
    &__social {
      align-items: start;
    }
  }
}

@media (max-width: 660px) {
  .footer {
    &__basic {
      flex-direction: column;
      justify-content: start;
    }
    &__social {
      padding-bottom: 30px;
    }
  }
}
